.loader {
    border: 4px solid rgba(255, 0, 0, 0.785);
    border-left-color: transparent;
    border-radius: 50%;
  }
  
  .loader {
    border: 4px solid rgba(255, 0, 0, 0.785);
    border-left-color: transparent;
    width: 8rem;
    height: 8rem;
  }
  
  .loader {
    border: 4px solid rgba(255, 0, 0, 0.785);
    border-left-color: transparent;
    width: 8rem;
    height: 8rem;
    animation: spin89345 1s linear infinite;
  }
  
  @keyframes spin89345 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }